:root {
  --heading-font-family: "Playfair Display", serif;
  --body-font-family: "Poppins", sans-serif;
  --primary-colour: #6c63ff;
  --secondary-colour: #f9f7fe;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px !important;
  }

  h2 {
    font-size: 44px !important;
  }

  .desc {
    padding: 0 !important;
  }

  .work-sec {
    padding-top: 30px !important;
  }

  .contact-sec {
    padding-top: 30px !important;
  }

  .inq {
    flex-wrap: wrap;
  }
}

body {
  font-family: var(--body-font-family);
  font-weight: normal;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
}

h3 {
  font-family: var(--body-font-family);
  font-size: 24px;
}

p {
  font-family: var(--body-font-family);
  font-size: 18px;
}

footer {
  margin-bottom: 50px;
}

.navbar-nav .nav-link.active {
  color: var(--primary-colour);
}

.navbar {
  background-color: white !important;
}

.hero p {
  font-family: var(--body-font-family);
  font-weight: bold;
  font-size: 36px;
}

.hero {
  background-color: var(--secondary-colour);
  padding: 160px 20px;
  text-align: center;
}

.btn-primary {
  background-color: var(--primary-colour);
  color: white;
  padding: 18px 30px;
}

.btn-primary:hover {
  background-color: white;
  color: var(--primary-colour);
  border-color: var(--primary-colour);
}

.proj-detail {
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
}
.desc {
  padding: 20px;
}

.proj-img {
  padding: 20px;
  display: flex;
  text-align: center;
}

.btn-secondary {
  background-color: white;
  color: var(--primary-colour);
  border-color: var(--primary-colour);
  padding: 18px 25px;
}

.btn-secondary:hover {
  background-color: var(--primary-colour);
  color: white;
}

/* .profile-pic {
  width: 560px;
  height: 560px;
} */

.about-sec {
  padding: 100px 20px;
}

.about-sec h1 {
  font-size: 64px;
}

.about-sec h3 {
  font-size: 18px;
  font-weight: bold;
}

.about-sec p {
  font-size: 16px;
  opacity: 70%;
  text-align: justify;
}

.work-sec {
  padding: 100px 20px;
}

.work-sec h1 {
  font-size: 64px;
  margin-bottom: 103px;
}

.work-sec h3 {
  text-align: center;
}

.work-sec p {
  text-align: center;
}

.work-sec h3 {
  font-size: 24px;
  padding-top: 10px;
}

.work-sec p {
  font-size: 14px;
  opacity: 70%;
  margin-bottom: 50px;
}

.contact-sec {
  padding: 100px 20px;
}

.contact-sec h1 {
  font-size: 64px;
  margin-bottom: 103px;
}

.contact-sec h3 {
  text-align: center;
}

.contact-sec p {
  text-align: center;
}

.email {
  text-decoration: none;
  color: black;
}

.email:hover {
  cursor: pointer;
  color: var(--primary-colour);
}

.icon {
  text-align: center;
  margin-top: 40px;
}

.icon a {
  padding: 20px;
  background-color: var(--secondary-colour);
  border-radius: 100%;
  margin: 0 20px;
  color: var(--primary-colour);
}

.icon a:hover {
  color: white;
  background-color: var(--primary-colour);
  transition: all 100ms ease-in-out;
}

.inq {
  background-color: var(--secondary-colour);
  padding: 50px;
  border-radius: 20px;
  margin: 0 40px;
}

.inq-detail {
  text-align: justify;
}

.inq-detail h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.inq-detail p {
  font-size: 18px;
}

.foot {
    margin-top: 50px;
}

.foot a {
    color: var(--primary-colour);
}
